* {
  margin: 0;
  padding: 0;

  list-style: none;
}

.wrapper {
  margin: 10px;
  width: 500px;
  height: 300px;

  overflow: hidden;
  overflow-y: auto;
  border: 1px solid gray;
  border-radius: 10px;

  background: #fff;
  font-family: Arial;
}

.menu {

  border-radius: 10px;
  border: 1px solid gray;

  background: #ddd;
}

.tab {
  height: 30px;

  display: inline-block;

  padding: 10px 10px 0px;
  background: #eee;

  text-align: center;
  border-radius: 5px;
  border: 1px solid gray;

}

.tab:hover {
  cursor: pointer;
}

.active {
  border: 1px solid black;
  background-color: #4980d8;
  color: white;
}

.text {
  display: none;
}
