.info-list {
  border: 2px solid gray;
  box-shadow: 2px;

  margin: 10px;
  padding: 10px;
}

.info-list > li {
  display: inline-flex;
  height: 40px;
  
  padding: 10px 0;
}

.info-list > li > p {
  width: 50px;
  margin-right: 50px;
}

.info-list > li > input {
  height: 20px;
}

.help-block {
  margin-left: 10px;
  padding-left: 5px;

  border: 2px solid gray;
  border-radius: 5px;

  display: none;
}

.help-button {
  width: 100px;
  height: 30px;

  margin-left: 10px;

  border-radius: 3px;
}
